.chat-header {
  margin: 2em 0 2em 0.2em;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #53aaec;
}

@media (max-width: 720px) {
  .chat-header {
    font-size: 30px;
    margin: 2em 0 1em 0.2em;
  }
}

.response-message {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

@media (max-width: 720px) {
  .response-message {
    font-size: 20px;
  }
}

.user-message {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #494747;
}

@media (max-width: 720px) {
  .user-message {
    font-size: 20px;
  }
}

.data-text {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #494747;
}

@media (max-width: 720px) {
  .data-text {
    font-size: 15px;
  }
}

.dialogs-messages__sm {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #494747;
}

.dialogs-messages {
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #494747;
}

@media (max-width: 720px) {
  .dialogs-messages {
    font-size: 18px;
  }
}

.dialogs-messages__placeholder {
  font-size: 13px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #494747;
}

@media (max-width: 720px) {
  .dialogs-messages__placeholder {
    font-size: 18px;
  }
}

.user-names {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #494747;
}

@media (max-width: 720px) {
  .user-names {
    font-size: 23px;
  }
}

.chat-block {
  width: 70vw;
  height: 100vh;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 790px) {
  .chat-block {
    width: 100%;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .chat-block {
    width: 60%;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-touch-action: pan-x pan-y;
      touch-action: pan-x pan-y;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.select {
  -webkit-touch-callout: unset;
  /* iOS Safari */
  -webkit-user-select: all;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: all;
  /* Old versions of Firefox */
  -ms-user-select: all;
  /* Internet Explorer/Edge */
  user-select: all;
}

.dialogs-block {
  width: 30%;
  height: 100vh;
  border: 1px #e7e7e7 solid;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 720px) {
  .dialogs-block {
    width: 100%;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .dialogs-block {
    width: 40%;
  }
}

.dialogs-block::-webkit-scrollbar {
  display: none;
}

.dialogItem {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialogItem__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5% 0 5% 0%;
  margin: 0 0 0 0.2em;
  border-bottom: 1px #e6e6e6 solid;
}

@media (max-width: 720px) {
  .dialogItem__container {
    margin: 0 0.2em 0 0.2em;
  }
}

.dialogItem__container:hover {
  background-color: #e6e6e6;
}

@media (max-width: 720px) {
  .dialogItem__userInfo-container {
    margin-left: 0.4em;
  }
}

.dialog-item__header {
  padding: 0.5em 0 0 0.2em;
  height: 20%;
  width: 100%;
  border-bottom: 1px #e7e7e7 solid;
  background-color: #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 721px) and (max-width: 1024px) {
  .dialog-item__header {
    height: 11em;
  }
}

.user-picture__container {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
}

@media (max-width: 720px) {
  .user-picture__container {
    width: 80px;
    height: 80px;
  }
}

.user-picture__picture {
  height: 100%;
}

.user-online-icon__container {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 40px 0 0 -12px;
}

@media (max-width: 720px) {
  .user-online-icon__container {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 45px 0 0 -12px;
  }
}

.user-online-icon__icon {
  width: 100%;
}

.user-picture-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.user-picture__mobile-notification {
  display: none;
}

.search-field__container {
  width: 90%;
  height: 30px;
  margin: 1.5em auto 0 auto;
}

@media (max-width: 720px) {
  .search-field__container {
    height: 60px;
    margin: 1em auto 0 auto;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .search-field__container {
    margin: 1em auto 0 auto;
  }
}

.search-field__search-bar {
  width: 100%;
  height: 30px;
  border: 1px #e7e7e7 solid;
  text-indent: 20px;
  border-radius: 20px;
}

@media (max-width: 720px) {
  .search-field__search-bar {
    height: 60px;
    text-indent: 35px;
    font-size: 24px;
  }
}

.search-field__search-bar:focus {
  outline: none;
}

.search-field__icon-container {
  width: 15px;
  height: 15px;
  position: relative;
  margin: -27px 0 0 3px;
}

@media (max-width: 720px) {
  .search-field__icon-container {
    width: 25px;
    height: 25px;
    position: relative;
    margin: -40px 0 0 6px;
  }
}

.search-field__icon {
  width: 100%;
}

.chatwindow-header {
  height: 10%;
  width: 100%;
  background-color: #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 720px) {
  .chatwindow-header {
    height: 11%;
    width: 100vw;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .chatwindow-header {
    height: 10%;
    width: 100vw;
  }
}

.back-icon__container {
  display: none;
}

@media (max-width: 720px) {
  .back-icon__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
  }
}

.back-icon__container .back-icon__icon {
  width: 100%;
}

.chatwindow-body {
  height: 75%;
  width: 100%;
  background-color: white;
  overflow: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chatwindow-body::-webkit-scrollbar {
  display: none;
}

.chatwindow-footer {
  height: 15%;
  background-color: #e6e6e6;
  border: 2px #e7e7e7 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message-field__container {
  width: 90%;
  height: 40px;
}

@media (max-width: 720px) {
  .message-field__container {
    height: 70px;
  }
}

.message-field__message_bar {
  width: 100%;
  height: 40px;
  border: 1px #e7e7e7 solid;
  text-indent: 20px;
  border-radius: 20px;
}

@media (max-width: 720px) {
  .message-field__message_bar {
    height: 100%;
    font-size: 24px;
  }
}

.message-field__message_bar:focus {
  outline: none;
}

.message-field__icon-container {
  width: 20px;
  height: 20px;
  position: relative;
  float: right;
  bottom: 32px;
  right: 22px;
}

@media (max-width: 720px) {
  .message-field__icon-container {
    width: 40px;
    height: 40px;
    bottom: 59px;
  }
}

.message-field__icon {
  width: 100%;
}

.message-income__container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1em 0 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.message-income__text-container {
  margin-left: 1em;
  width: 60%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.message-income__message-text {
  padding: 0.5em 1em 0.5em 1em;
  background-color: #3c4154;
  border-radius: 20px;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  overflow-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.message-income__data {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5em  0 0 1.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.message-outcome__container {
  float: right;
  width: 60%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1em 1em  1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.message-outcome__message-text {
  padding: 0.5em 1em 0.5em 1em;
  background-color: #e6e6e6;
  border-radius: 20px;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  overflow-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.message-outcome__data {
  margin: 0.5em 1.2em 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.notification__container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 150px;
  background-color: #a79d9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

@media (max-width: 720px) {
  .notification__container {
    top: 0;
    width: 100%;
    height: 200px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.notification-picture__container {
  padding-top: 0.5em;
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.notification-body__container {
  padding-top: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notification__close-icon-container {
  width: 15px;
  height: 15px;
}

@media (max-width: 720px) {
  .notification__close-icon-container {
    margin: 10px 15px 0 0;
    width: 30px;
    height: 30px;
  }
}

.notification__close-icon {
  width: 100%;
}
