.chatwindow-footer{
    height: 15%;
    background-color: $lightgrey;
    border: 2px $mediumgrey solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}