.chatwindow-body{
    height: 75%;
    width:100%;
    background-color: $white;
    overflow: scroll;
    box-sizing: border-box;
    -ms-overflow-style: none;
  scrollbar-width: none;  
    &::-webkit-scrollbar {
        display: none;
      }
}