$lightgrey: rgb(230, 230, 230);
$mediumgrey: rgb(231, 231, 231);
$darkgrey:rgb(73, 71, 71);
$blue:rgb(83, 170, 236);
$darkblue:rgb(60, 65, 84);
$white:rgb(255, 255, 255);
$notificationcolor:rgba(167, 157, 157, 0.6);
$notificationcolor-mobile:rgba(167, 157, 157, 1);