.container{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.select{
    -webkit-touch-callout: unset; /* iOS Safari */
      -webkit-user-select: all; /* Safari */
       -khtml-user-select: all; /* Konqueror HTML */
         -moz-user-select: all; /* Old versions of Firefox */
          -ms-user-select: all; /* Internet Explorer/Edge */
              user-select:all;
}