.dialog-item__header{
    @media (min-width:721px) and(max-width:1024px) {
        height:11em;
      }
    padding: 0.5em 0 0 0.2em;
    height:20%;
    width:100%;
    border-bottom: 1px $mediumgrey solid;
    background-color: $lightgrey;
    box-sizing: border-box;
}
