.search-field__container{
    width: 90%;
    height:30px;
    margin: 1.5em auto 0 auto;

}
.search-field__search-bar{

    width:100%;
    height:30px;
    border: 1px $mediumgrey solid;
    text-indent: 20px;
    border-radius: 20px;
    &:focus{
        outline: none;
    }
}
.search-field__icon-container{
    width:15px;
    height: 15px;
    position:relative;
    margin: -27px 0 0 3px;
}
.search-field__icon{
    width:100%;
}