.user-online-icon__container{
    @media (max-width:720px) {
        width: 30px;
        height: 30px;
        position: relative;
        margin: 45px 0 0 -12px; 
    }
    width: 20px;
    height: 20px;
    position: relative;
    margin: 40px 0 0 -12px;
}
.user-online-icon__icon{
    width: 100%;
}